{%extends 'base.html'%}
{% load static%}
{%block content%}
<!-- About-->
<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Contact Us</h2>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'img/about/42096.jpg' %}" width="600" height="600" alt="" /></div>

            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Contact Us for More Information</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">Please Hold</p></div>
            </div>
        </li>                    
    </ul>
</div>
{%endblock%}