{%extends 'base.html'%}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome to We Propose!</div>
                <div class="masthead-heading text-uppercase">making the world better one date at a time</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'showdates' %}">See Our Dates</a>
            </div>
        </header>
{% endblock %}